.container {
    background: #000;
    width: 100%;
    height: 950px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 15px;
}

.searchBar {
    width: 60%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Rubik, sans-serif;
}

.searchBar input {
    width: 90%;
    height: 100%;
    padding-left: 15px;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px 0 0 15px;
    outline: none;

}

.searchBar span {
    background: #fff;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 15px 15px 0;
    color: #000;
}

.searchBar span:hover {
    background: #4f4b4b;
    color: white;
}

.postContent {
    width: 60%;
    height: 800px;
    border-radius: 15px;
}

.paginationNum {
    background: #312a28;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding: 10px 0 10px 20px;
    font-family: Rubik, sans-serif;
    border-bottom: 1px solid #948f8f;
}

.paginationNum span {
    width: 30px;
    height: 30px;
    background: #4d423f;
    display: flex;
    align-items: center;
    justify-content: center;

}

.paginationNum span:hover {
    background: #e26414;
}

.postList {
    background: #312a28;
    padding: 10px 0 10px 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #948f8f;
}

.leftContent{
    flex:2;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: flex-start;
    row-gap: 10px;
    font-family: Rubik, sans-serif;
}

.leftContent h3{
    color: #893c0b;
    cursor: pointer;
}

.leftContent h3:hover {
    color: #e26414;
}

.rightContent {
    flex:1;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
    column-gap: 15px;
    row-gap: 10px;
    font-family: Rubik, sans-serif;
    font-style: italic;
    font-weight: 300;
}

.avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}