.container {
    width: 100%;
    height: 500px;;
    background-color: #04080b;
    display: flex;
    flex-direction: column;
    row-gap: 30px ;
    align-items: center;
    justify-content: center;

}

.social {
    padding-top: 50px;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: rgba(255, 255, 255, 0.557);
}

.social span:hover{
    color: white;
    cursor: pointer;
}

.pegi{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px;
    font-family: Rubik, sans-serif;
}

.pegi img{
    width: 100px;
    height: auto;
    object-fit: cover;
}
.pegi span{
    padding-bottom: 15px;
}

.separator{
    width: 100%;
    height: 2px;
    background: #9c8e7f;
}

.links{
    width: 100vw;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.links a{
    text-decoration: none;
    padding-right: 15px;
    font-family: Rubik, sans-serif;
}

.links a:not(:last-child){
    border-right: 1px solid #9c8e7f;
}

.nc {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    font-family: Rubik, sans-serif;
    font-size: 1.2rem;
}

.logoNc{
    width: 100px;
    height: auto;
}

.logoNc img {
    width: 100px;
    height: auto;
    object-fit: cover;
}