.carousel {
    width: 100vw;
    height: 100vh;
    background: white;
}

.caroContent{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caroContent .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 5%;
    height: 15%;
    background: rgb(0, 0, 0, 0.7);
}

.caroContent .center {
    flex: 90%;
    height: 25%;
    align-self: flex-end;
    font-family: Splash, sans-serif;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;;
}

.center .button {
    background: #eb6611;
    padding: 15px;
    font-family: Rubik, sans-serif;
}
.center .button:hover{
    cursor: pointer;
    background: #e87810;
}

.caroContent .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 5%;
    height: 15%;
    background: rgb(0, 0, 0, 0.7);
}

.caroContent .left, .right :hover{
    cursor: pointer;
}

