.container{
    padding-top: 50px;
    height: auto;
    width: 100vw;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 20px;
}

.postContent {
    background: #252323;
    padding: 25px 25px 25px 0;
    font-family: Rubik, sans-serif;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
}

.leftContent{
    width: 15%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.rightContent{
    padding: 0 5px;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: aliceblue;
    line-height: 3.2rem;
    row-gap: 15px;
    position: relative;

}

.rightContent p {
    border-bottom: 1px solid white ;
    padding-bottom: 20px;
}
.likes{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    cursor: pointer;
    font-size: 1.8rem;
}

.deleteButtons{
    position: absolute;
    right:0;
    top: 0;
    display: flex;
    column-gap: 30px;
    cursor: pointer;
    font-size: 1.8rem;
}

.deleteButtons span:hover {
    color: #f56b01;
}

.likes:hover {
    color: #870404;
}

.replyContent{
    background: #252323;
    padding: 25px 25px 25px 0;
    font-family: Rubik, sans-serif;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
}