.dialogOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialogContent {
    background-color: rgb(73, 73, 73);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    font-size: 20px;
    border: 2px solid #dc6e00;
}

.dialogButtons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dialogButtons button {
    width: 80px;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px;
}

.feedback {
    margin-top: 10px;
    background-color: bisque;
    color: green; /* Or red for error */
}