.card {
    width: 70%;
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: left;
    column-gap: 20px;
    position: relative;
}

.cardImg {
    flex: 1;
    width: 350px;
    height: 200px;
    border: 2px solid antiquewhite;
    transition: transform 0.3s ease-in-out;
}

.cardImg:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardText {
    flex: 2;
    font-family: Rubix, sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cardTime{
    display: flex;
    column-gap: 15px;
}

.cardTime :nth-child(2) {
    text-transform: capitalize;
}

.cardText .separator {
    width: 100%;
    height: 1px;
    background: #b1b1b1aa;
}

.cardText a{
    color: chocolate;
    text-decoration: underline;
    font-size: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.buttons span{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.buttons span:hover {
    color: tomato;
}