.container {
    width: 100vw;
    height: auto;
    background-image: url("../../assets/news/news-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.select {
    width: 100vw;
    height: 200px;
}

.cardList {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 15px;
}

