.container {
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-image: url("../../assets/news/news-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.select {
    padding-top: 15px;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.select button {
    width: 300px;
    height: 50px;
    border: 1px solid #da4a2b;
    justify-self: flex-end;
}

.select select{
    width: 500px;
    height: 50px;
    padding: 15px;
    font-family: Rubik, sans-serif;
    font-size: 1.5rem;
    outline: none;
    background: #000;
    border: 1px solid #da4a2b;
    color: #fff;
}




.cardList {
    padding-top: 25px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 15px;
}

.select button {
    width: 300px;
    height: 50px;
    border: 1px solid #da4a2b;
    justify-self: flex-end;
}

.select select {
    width: 300px;
    height: 50px;
    padding: 15px;
    font-family: Rubik, sans-serif;
    font-size: 1.5rem;
    outline: none;
    background: #000;
    border: 1px solid #da4a2b;
    color: #fff;
}